// responseive
@import "./main-768px.scss";

body {
    background: whitesmoke;
}

.project {
    padding: 18px 48px;
    background: white;
    margin: 8px;
    border-radius: 8px;
    h3 {
        color: teal;
    }
    p{
        font-size: 1.25em;
    }
    .bottom {
        span {
            color: darkgrey;
            font-size: 1.1em;
        }
        button {
            color: grey;
        }
        .tasks {
            color: white;
        }
    }
}

.priority {
    color: darkcyan;
}

.due {
    color: darkgrey;
}

.close {
    color: grey;
    &:hover {
        color: red;
    }
}

[data-id] {
    cursor: pointer;
}